@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif!important;
}

.nav-font{
    font-family: 'Henny Penny', cursive!important;
}

.togglesidebar{
    left: 0px!important;
}
.sidetoggler{
    display: block;
}
.first-bg{
    background: linear-gradient(90deg,#7ad0ef,#be3bd1);
}
.food_box{
    box-shadow: 8px 10px 10px #2a2a4266!important;
}

@media only screen and (max-width:1270px){
   .food_wrap{
    width: 1000px!important;
   }
   .food_box{
     width: 220px!important;
   }
}
@media only screen and (max-width:1023px){
    .food_wrap{
        width: 100%!important;
    }
}
/* .layout{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
} */